# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Database and local storage
*.db
*.sqlite

# Logs and output
outputs/
logs/
*.log

# Sample or confidential data
sample_data/
data/
*.csv
*.json

# License keys
infra/license.key

# Streamlit config cache
.streamlit/
